<pato-form [data]="dataForm" classes="row pb-4" (formSubmit)="onSubmit($event)" [templates]="{afterFormTemplate}">
  <ng-template #afterFormTemplate let-formValid="formValid">
    <div class="mt-3 w-100">
      <shared-button [label]="'i18n.common.register' | appTranslate" [disabled]="!formValid" class="w-100" additionalClasses="w-100" variant="info" type="submit"></shared-button>
    </div>
    <p class="w-100 container text-center pt-4">
      {{ 'i18n.common.haveAccount' | appTranslate }}
      <a [routerLink]="['../login']" class="text-secondary">{{ 'i18n.common.login' | appTranslate }}</a>
    </p>
  </ng-template>
</pato-form>
