<p-panel header="Pipes numéricos" class="p-1">
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</p-panel>


<div class="grid">

    <div class="col-12">
        <p-card header="Ejemplos">
            <p-table [value]="[{}]" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pipe</th>
                        <th>Render</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>{{ totalSells }}</td>
                        <td>{{ totalSells }}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | number</td>
                        <td>{{ totalSells | number }}</td>
                    </tr>
                    <tr>
                        <td>3.6 | number: '1.0-0'</td>
                        <td>{{3.6 | number: '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>-3.6 | number:'1.0-0'</td>
                        <td>{{-3.6 | number:'1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | number:'1.2-2'</td>
                        <td>{{totalSells | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <td>35 | number:'1.1-2'</td>
                        <td>{{35 | number:'1.1-2'}}</td>
                    </tr>
                    <tr>
                        <td>35.4567 | number:'1.1-2'</td>
                        <td>{{35.4567 | number:'1.1-2'}}</td>
                    </tr>
                    <tr>
                        <td>35.4567 | number:'4.1-2'</td>
                        <td>{{35.4567 | number:'4.1-2'}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | currency</td>
                        <td>{{ totalSells | currency}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | currency:'L. '</td>
                        <td>{{ totalSells | currency:'L. '}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | currency:'L. ':'symbol'</td>
                        <td>{{ totalSells | currency:'L. ':'symbol'}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | currency:'EUR':'code'</td>
                        <td>{{ totalSells | currency:'EUR':'code'}}</td>
                    </tr>
                    <tr>
                        <td>{{ totalSells }} | currency:'EUR':'symbol-narrow':'1.4-4'</td>
                        <td>{{ totalSells | currency:'EUR':'symbol-narrow':'1.4-4' }}</td>
                    </tr>
                    <tr>
                        <td>{{ percent }} | percent</td>
                        <td>{{ percent | percent }}</td>
                    </tr>
                    <tr>
                        <td>{{ percent }} | percent: '1.2-2'</td>
                        <td>{{ percent | percent: '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td>1 | percent: '1.2-2'</td>
                        <td>{{ 1 | percent: '1.2-2' }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{ (totalSells + 1235 ) | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ totalSells | currency:'HNL':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Ganancia porcentual" subheader="del presente año">
            {{ percent | percent: '1.2-2' }}
        </p-card>
    </div>

</div>