@if (icon()) {
  <span class="input-group-text">
    <i [ngClass]="'bi bi-' + icon()"></i>
  </span>
}
<input
    [type]="type()"
    [placeholder]="placeholder()"
    class="form-control"
    [class.is-valid]="control().validator && control().valid && control().touched"
    [class.is-invalid]="control().validator && control().invalid && control().touched"
    (input)="change( searchInput.value )"
    [value]="value()"
    [id]="id()"
    [attr.disabled]="disabled() ? 'disabled' : null"
    [attr.autocomplete]="autocomplete() ? 'on' : 'off'"
    (blur)="onBlur()"
    [ngClass]="additionalClasses()"
    #searchInput>
