<pato-form [data]="dataForm" classes="row pb-4" id="simpsons" (onbuildForm)="onBuildForm($event)"
  (onFormChange)="onChangeControl($event)" (onFormSubmit)="onSubmit($event)" [finalFormTemplate]="finalFormTemplate">
  <ng-template #finalFormTemplate>
    <div class="mt-3 col-6">
      <shared-button label="Limpiar" variant="info" type="reset"></shared-button>
    </div>
    <div class="mt-3 col-6">
      <shared-button label="Guardar" type="submit"></shared-button>
    </div>
  </ng-template>
</pato-form>
<div class="row g-3">
  @defer (when !cargando()) {
    @for (simpson of simpsons(); track $index) {
      <div class="col col-12 col-md-6 col-xxl-4">
        <features-simpson-card [simpson]="simpson"></features-simpson-card>
      </div>
    }
  } @placeholder {
    @for (_ of 5 | sharedRepeat; track $index) {
      <div class="col col-12 col-md-6 col-xxl-4">
        <features-simpson-card></features-simpson-card>
      </div>
    }
  }
</div>


@if (cargando()) {

}
