<pato-form [data]="dataForm" classes="row pb-4" identifier="simpsons" (buildForm)="buildForm($event)"
  (onFormChange)="onChangeControl($event)" (onFormSubmit)="onSubmit($event)" [finalFormTemplate]="finalFormTemplate">
  <ng-template #finalFormTemplate>
    <div class="mt-3 col-6">
      <shared-button label="Limpiar" variant="info" type="reset"></shared-button>
    </div>
    <div class="mt-3 col-6">
      <shared-button label="Guardar" type="submit"></shared-button>
    </div>
  </ng-template>
</pato-form>
<shared-button (clicked)="loadSimpsons()" [disabled]="simpsons().length > 0" [label]="simpsons().length > 0 ? 'Simpsons cargados' : 'Cargar simpsons'" ></shared-button>
<div class="row g-3 pt-4">
  @switch (simpsonsRequest()?.state) {
    @case ("complete") {
      @for (simpson of simpsons(); track $index) {
        <div class="col col-12 col-md-6 col-xxl-4">
          <features-simpson-card [simpson]="simpson"></features-simpson-card>
        </div>
      } @empty {
        <div>No hay simpsons</div>
      }
    }
    @case ("loading") {
      @for (_ of 5 | sharedRepeat; track $index) {
        <div class="col col-12 col-md-6 col-xxl-4">
          <features-simpson-card></features-simpson-card>
        </div>
      }
    }
    @case ("error") {
      <p class="bg-danger">Ha habido un error al obtener los simpsons.</p>
    }
    @default {
      <p class="text-info bg-dark">Pulsa el botón para cargar los simpsons</p>
    }
  }

</div>
