<div class="modal-header bg-danger text-white">
  <h4 class="modal-title">
    <i class="bi bi-x-circle-fill"></i> Error: {{data()?.title | appTranslate }}
  </h4>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body text-center">
  <p class="mt-3">{{data()?.message | appTranslate: data()?.data }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="close()">Close</button>
</div>
