<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['./']">Tesloshop</a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./']"
          [queryParams]="{ gender: 'men' }" routerLinkActive="text-secondary">{{ ('i18n.common.man' | appTranslate : {number: 2} ) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./']"
          [queryParams]="{ gender: 'women' }" routerLinkActive="text-secondary">{{ ('i18n.common.women' | appTranslate : {number: 2} ) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./']"
          [queryParams]="{ gender: 'kid' }" routerLinkActive="text-secondary">{{ ('i18n.common.children' | appTranslate : {number: 2} ) }}</a>
        </li>
        @if ( authStatus() === 'authenticated' ) {
        <li class="nav-item dropdown" ngbDropdown>
          <span class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle href="#">
            {{ user()?.fullName }}
          </span>
          <ul class="dropdown-menu" ngbDropdownMenu>
            @if (isAdmin()) {
            <li><a class="dropdown-item" [routerLink]="['./admin']" routerLinkActive="text-primary">{{ ('i18n.common.adminPanel' | appTranslate ) }}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            }
            <li><span class="dropdown-item cursor-pointer" (click)="logout()">{{ ('i18n.common.logout' | appTranslate ) }}</span></li>
          </ul>
        </li>
        } @else if ( authStatus() === 'not-authenticated' ) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./auth/login']" routerLinkActive="text-secondary">{{ ('i18n.common.login' | appTranslate ) }}</a>
        </li>
        } @else {
        <li class="nav-item">
          <span class="nav-link">...</span>
        </li>
        }
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [placeholder]="('i18n.common.search' | appTranslate )" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">{{ ('i18n.common.search' | appTranslate ) }}</button>
      </form>
    </div>
  </div>
</nav>
