<div class="container p-2 border rounded">
  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <img
        src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
        width="30" height="30" class="d-inline-block align-top" alt="">
        {{ ('i18n.common.welcome' | appTranslate ) }} {{ user()?.fullName }}
    </a>
    <shared-button variant="danger" [outline]="true" (click)="logout()" [label]="'i18n.common.logout' | appTranslate"></shared-button>
  </nav>
  <hr>
  <div class="container">
    <router-outlet />
  </div>
</div>


