// Variables (colores, tipografía, etc.)
@use "sass:string";
@use "sass:map";

$font-family-sans-serif: 'Stocky';


$bootstrapUtilities: (
  "width": (property: width,
    class: w,
    values: (20: 20%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto),
  ),
  "white-space": (property: white-space,
    class: text,
    values: (wrap: normal,
      nowrap: nowrap,
      pre: pre)),
);


$customUtilities: ();
