<div class="row">
  <div class="col">
    <button (click)="isProductVisible = !isProductVisible">Toggle</button>
    <button (click)="increasePrice()">+1 Price</button>
  </div>
  <div class="col">
    <products-price *ngIf="isProductVisible" [price]="currentPrice" />
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Método</th>
      <th scope="col">Objetivo</th>
      <th scope="col">Momento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ngOnChanges()</th>
      <td>Responder cuando Angular establece o restablece propiedades de entrada vinculadas a datos. El método recibe un
        <code>SimpleChanges</code> objeto con los valores de propiedad actuales y anteriores.
      </td>
      <td>Se llama antes <code>ngOnInit()</code> (si el componente tiene entradas enlazadas) y siempre que una o más
        propiedades de entrada enlazadas a datos cambien.</td>
    </tr>
    <tr>
      <th scope="row">ngOnInit()</th>
      <td>Inicialice la directiva o el componente después de que Angular muestre por primera vez las propiedades
        vinculadas a los datos y establezca las propiedades de entrada de la directiva o el componente.</td>
      <td>Se llama una vez, después del primer <code>ngOnChanges()</code>. <code>ngOnInit()</code>se sigue llamando
        incluso cuando <code>ngOnChanges()</code> no se llama (que es el caso cuando no hay entradas vinculadas a la
        plantilla).</td>
    </tr>
    <tr>
      <th scope="row">ngDoCheck()</th>
      <td>Detecta y actúa sobre cambios que Angular no puede o no quiere detectar por sí solo.</td>
      <td>Se llama inmediatamente después <code>ngOnChanges()</code> de cada ejecución de detección de cambios, e
        inmediatamente después <code>ngOnInit()</code> de la primera ejecución.</td>
    </tr>
    <tr>
      <th scope="row">ngAfterContentInit()</th>
      <td>Responder después de que Angular proyecta contenido externo en la vista del componente o en la vista en la que
        se encuentra una directiva.</td>
      <td>Llamado una vez después del primero <code>ngDoCheck()</code>.</td>
    </tr>
    <tr>
      <th scope="row">ngAfterContentChecked()</th>
      <td>Responda después de que Angular verifique el contenido proyectado en la directiva o el componente.</td>
      <td>Se llama después de <code>ngAfterContentInit()</code> y cada uno posterior <code>ngDoCheck()</code>.</td>
    </tr>
    <tr>
      <th scope="row">ngAfterViewInit()</th>
      <td>Responda después de que Angular inicialice las vistas del componente y las vistas secundarias, o la vista que
        contiene la directiva.</td>
      <td>Llamado una vez después del primero <code>ngAfterContentChecked()</code>.</td>
    </tr>
    <tr>
      <th scope="row">ngAfterViewChecked()</th>
      <td>Responda después de que Angular verifique las vistas del componente y las vistas secundarias, o la vista que
        contiene la directiva.</td>
      <td>Se llama después del <code>ngAfterViewInit()</code> y cada uno posterior <code>ngAfterContentChecked()</code>.
      </td>
    </tr>
    <tr>
      <th scope="row">ngOnDestroy()</th>
      <td>Limpieza justo antes de que Angular destruya la directiva o el componente. Anule la suscripción de observables
        y desconecte los controladores de eventos para evitar fugas de memoria.</td>
      <td>Se llama inmediatamente antes de que Angular destruya la directiva o el componente.</td>
    </tr>
  </tbody>
</table>
<a href="https://atalantago.com/angular-lifecycle-article-2/">https://atalantago.com/angular-lifecycle-article-2/</a>
<br><br>