<!-- <link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<style>
    :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
</style> -->
<div
    class="flex bg-slate-100 text-black overflow-y-scroll w-screen h-screen antialiased selection:bg-blue-600 selection:text-white">
    <div class="flex relative w-screen">

        <app-sidemenu [idUser]="[1, 12] | randomNumber"></app-sidemenu>

        <div class="text-black px-2 mt-2 max-w-xl w-full m-auto">
            <router-outlet />
        </div>

    </div>
</div>
