<div class="flex-shrink-0 p-3">
  <div class="d-flex align-items-center link-body-emphasis text-decoration-none">
    <shared-image url="favicon.ico" classes="bi pe-none me-2" [imageWidth]="30" [imageHeight]="30"></shared-image>
    <span class="fs-5 fw-semibold">Angular</span>
    <core-theme-item-menu />
    <div class="dropdown d-lg-none" (click)="toggleCollapse()"><i class="bi bi-list fs-1 cursor-pointer"></i></div>
  </div>
  <ul class="list-unstyled ps-0" [(ngbCollapse)]="isCollapsed">
    @for (route of getRoutes(); track $index; let i = $index) {
    <core-item-menu [route]="route" [index]="i"></core-item-menu>
    }
  </ul>
</div>