<figure class="mt-3">
  <blockquote class="blockquote">
    <p>{{ ('i18n.features.tesloshop.allProducts' | appTranslate ) }}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    {{ ('i18n.common.for' | appTranslate ) }} <cite title="Source Title">{{ ( (gender() === 'men' ? 'i18n.common.man' : 'i18n.common.women') | appTranslate : { number : 2} ) }}</cite>
  </figcaption>
</figure>

<products [products]="productsResource.value()?.products ?? []"></products>

<app-pagination
  [pages]="productsResource.value()?.pages ?? 0"
  [currentPage]="paginationService.currentPage()"
/>
