// Variables (colores, tipografía, etc.)
@use "sass:string";

$font-family-sans-serif: 'Stocky';



$bootstrapUtilities: (
  "width": (property: width,
    class: w,
    values: (20: 20%,
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto),
  ),
  "white-space": (property: white-space,
    class: text,
    values: (wrap: normal,
      nowrap: nowrap,
      pre: pre)),
);


$customUtilities: (
  "width-rem": (property: width,
    class: w-rem,
    values: (18: 18rem, 15: 15rem),
  ),
  "max-height-rem": (property: max-height,
    class: mh-rem,
    values: (25: 25rem,20: 20rem,
    15: 15rem),
  ),
  "cursor": (property: cursor,
    class: cursor,
    values: (pointer)),
  "animate": (property: animation,
    class: animate,
    values: (fadeIn: string.unquote('fadeIn 1s ease-in-out')),
  ),
);


// animate-fadeIn

$opacity-hover: (
  0,
  .25,
  .50,
  .75,
  1
);

@each $op in $opacity-hover {
  .opacity-hover-#{$op*100}:hover {
    opacity: #{$op} !important;
  }
}
