<div class="dropdown" sharedClickOutside (clickOutside)="clickOutside($event)">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" (click)="toggleCollapse()">
    <i class="bi"[class.bi-sun-fill]="theme() !== 'dark'" [class.bi-moon-stars-fill]="theme() === 'dark'"></i>
  </button>
  <div class="dropdown-menu" [class.show]="!isCollapsed()" aria-labelledby="dropdownMenuButton">
    <span class="dropdown-item cursor-pointer" (click)="setTheme('light')"><i class="bi bi-sun-fill"></i> Light</span>
    <span class="dropdown-item cursor-pointer" (click)="setTheme('dark')"><i class="bi bi-moon-stars-fill"></i> Dark</span>
  </div>
</div>
