.div-search {
  position: absolute;
  top: 0;
  background: var(--bs-body-bg);
  box-sizing: border-box;
  border: 1px solid var(--bs-border-color);

}
.div-search .list-group {
  max-height: 200px;
}
