<div class="container p-4">
    <h3 class="mb-5">{{ 'i18n.features.mapbox.titleSavedPlaces' | appTranslate }}</h3>
    <div class="row g-3">
        @for (place of savedPlaces(); track $index) {
        <div class="col col-12 col-md-6 col-xxl-4 d-flex text-align-center justify-content-center">
            <div class="card" style="width: 18rem;">
                <div #miniMap>
                    @defer (on viewport(miniMap)) {
                    <features-mapbox-mini-map [place]="place"></features-mapbox-mini-map>
                    }
                </div>
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title">{{place.name}}</h5>
                        <p class="card-text mb-4">{{place.full_address}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                          <shared-button icon="eye-fill" (clicked)="openPlace(place)" variant="info"></shared-button>
                        </div>
                        <div class="col-6">
                            <shared-button icon="trash" variant="danger"
                            [outline]="true"
                                (clicked)="removeSavedPlace(place)"></shared-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        } @empty {
        <div class="d-flex justify-content-center text-align-center align-items-center flex-wrap p-2 h-100">
            <div class="text-center">
                <shared-image url="img/mapbox/tierra-triste.png" classes="img-fluid"
                    style="height: 200px;"></shared-image>
                <p class="h3">{{ 'i18n.features.mapbox.emtySavePlace' | appTranslate}}</p>
            </div>
        </div>
        }
    </div>
</div>
