<h2 class="pt-4">Instalación</h2>
<p>Para instalar este paquete ejecutaremos:</p>
<shared-code-block code="npm i @ngx-translate/core
npm i @ngx-translate/http-loader" type="terminal"></shared-code-block>
<pre>
    <code>
        src/
        ├── app/
        │   ├── core/
        │   │   ├── services/
        │   │   │   ├── auth.service.ts
        │   │   │   ├── user.service.ts
        │   │   │   └── data.service.ts
        │   │   ├── interceptors/
        │   │   ├── guards/
        │   │   └── models/
        │   ├── shared/
        │   │   ├── components/
        │   │   │   ├── button/
        │   │   │   ├── form/
        │   │   └── directives/
        │   │   └── pipes/
        │   ├── features/
        │   └── app.module.ts
    </code>
</pre>
