<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col">
        <h3>Seccion 31</h3>
        <hr>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-2"></div>

      <div class="col">

        <div class="row">


          @defer (when isUserLocationReady()) {
            <app-search-bar></app-search-bar>
            <hr>
            <app-map-view></app-map-view>

          } @placeholder {
            <app-loading></app-loading>
          }






        </div>



      </div>
    </div>

  </div>
</div>
