
@switch (productsRequest()?.state) {
  @case ("complete") {
    <div sharedAnimationEnd classOfAnimationEnd="d-none" class="alert alert-success fixed bottom-4 right-4 w-80 animation-fill-mode-forwards animate-fadeOut">
      <span>{{ 'i18n.common.dateUpdated' | appTranslate }}</span>
    </div>
  }
}
<fieldset>
  <legend>{{ product().title }}</legend>
  <div class="row">
    <div class="col-6">
      <pato-form [data]="dataForm" [templates]="{afterFormTemplate}" (buildForm)="buildForm($event)" (formSubmit)="submit($event)">
        <ng-template #afterFormTemplate let-formValid="formValid">
          <div class="mt-3 w-100">
            <shared-button [disabled]="!formValid" [label]="'i18n.common.save' | appTranslate" class="w-100" additionalClasses="w-100" type="submit"></shared-button>
          </div>
        </ng-template>
      </pato-form>
    </div>
    <div class="col-6">
      <product-carousel [images]="imagesToCarousel()" />
    </div>
  </div>
</fieldset>
