<p-panel header="Pipes básicos" class="p-1">
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>


<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>
  <div class="col-12">
    <p-card header="date">
      <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Pipe</th>
            <th>Render</th>
            <th>Comment</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-datePipe>
          <tr>
            <td>{{ getStringDatePipe(datePipe) }}</td>
            <td>{{ customDate | date:datePipe.format || 'mediumDate':datePipe.timezone:datePipe.locale }}</td>
            <td>{{ datePipe.label }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>