<h1>Flex</h1>
<!-- <div id="div_ejemplos">
    @for (example of examples(); track $index) {
    <h2>Ejemplo {{ example.index }} {{ example.title ? example.title : '' }}</h2>
    <pre>{{ example.code }}</pre>
    <div [id]="'ejemplo-' + example.index">
        <div class="contenedor">
            @for (_ of example.childs | sharedRepeat; track $index; let index = $index) {
            <div>{{ index }}</div>
            }
        </div>
    </div>
    }
</div> -->
<iframe src="/Flexbox_CSS 2.html"></iframe>

<h2>Recursos</h2>
<p>
    <a href="https://www.youtube.com/watch?v=14X6R1sG6C8" target="_blank">Video youtube</a> <br><br>
    <a href="https://seocom.agency/es/blog/elementor-22671/" target="_blank">¿Qué es flexbox y cómo utilizarlo?</a>
    <br><br>
    <a href="https://getbootstrap.com/docs/5.0/utilities/flex/" target="_blank">bootstrap</a> <br><br>
</p>