@let formInstance = form();
@if (formInstance) {
  <form [formGroup]="formInstance" (ngSubmit)="onSubmit()" [ngClass]="additionalClasses()" novalidate>
    @let beforeFormTemplate = templates()["beforeFormTemplate"];
    @if (beforeFormTemplate) {
      <ng-container *ngTemplateOutlet="beforeFormTemplate; context: {formValid: formInstance.valid}"></ng-container>
    }
    @for (controlName of formControlNames(); track controlName) {
      @let beforeControlTemplate = templates()["before_" + controlName];
      @let controlValid = formInstance.controls![controlName].valid;
      @if (beforeControlTemplate) {
        <ng-container *ngTemplateOutlet="beforeControlTemplate; context: {controlValid}"></ng-container>
      }
      <pato-control [formControlName]="controlName"></pato-control>
      @let afterControlTemplate = templates()["after_" + controlName];
      @if (afterControlTemplate) {
        <ng-container *ngTemplateOutlet="afterControlTemplate; context: {controlValid}"></ng-container>
      }
    }
    <div class="invalid-feedback d-block">
      @if (formInstance.errors) {
        @for (error of getErrors(formInstance.errors || null); track $index) {
          <p>{{ 'i18n.common.errors.validations.' + error | appTranslate : formInstance.errors[error] }}<p>
        }
      }
    </div>
    @let afterFormTemplate = templates()["afterFormTemplate"];
    @if (afterFormTemplate) {
      <ng-container *ngTemplateOutlet="afterFormTemplate; context: {formValid: formInstance.valid}"></ng-container>
    }
  </form>
}
