@if (form()) {
  @let formInstance = form()!;
  <form [formGroup]="formInstance" (ngSubmit)="onSubmit()" [ngClass]="additionalClasses()" novalidate>
    @for (key of formKeys; track $index) {
        <pato-control [formControlName]="key"></pato-control>
        <!-- <ng-container patoFormControlInjectorDirective [key]="key" #formField></ng-container> -->
    }
    <div class="invalid-feedback d-block">
      @if (formInstance.errors) {
        @for (error of getErrors(formInstance.errors || null); track $index) {
          <p>{{ 'i18n.common.errors.validations.' + error | appTranslate : formInstance.errors[error] }}<p>
        }
      }
    </div>
    <ng-container *ngTemplateOutlet="finalFormTemplate(); context: {formValid: formInstance.valid}"></ng-container>
  </form>
}
