<div>
  <div class="row">
    <div class="col-12">
      <pato-form [data]="dataForm" classes="row pb-4" (buildForm)="buildForm($event)" (formSubmit)="onSubmit($event)">
      </pato-form>
      <!--Busqueda-->
    </div>
    <div class="col-12 mt-4 overflow-y-auto mh-rem-25" sharedIsScrollToEnd (isAtBottom)="isAtBottom($event)" #scrollDiv>
      <!--Listado de gifs-->
      <features-gifs-list [gifs]="gifs()"></features-gifs-list>
      @if (isLoadingGifs()) {
        <core-spinner></core-spinner>
      }

    </div>
  </div>
</div>
