<div class="flex-fill d-flex h-100 overflow-y-auto" style="flex: 1 1 auto; flex-flow: column;" (scroll)="onScroll($event)">
  <div class="row">
    <div class="col-12">
      <pato-form [data]="dataForm" classes="row pb-4" id="gifs" (onbuildForm)="onBuildForm($event)" (onFormSubmit)="onSubmit($event)">
      </pato-form>
      <!--Busqueda-->
    </div>
    <div class="col-12 pt-2">
      <!--Listado de gifs-->
      @if (isLoadingGifs()) {
        <p>Cargando gifs...</p>
      } @else {
        <features-gifs-list [gifs]="gifs()"></features-gifs-list>
      }

    </div>
  </div>
</div>
