@let errors = control().errors;
@let touched = control().touched;
<label [for]="id()" class="form-label">{{ useCompleteLabel() ? completeLabel() : label() }}</label>
<div class="input-group has-validation form-field-invalid">
    <ng-container #controlView></ng-container>
    @if (touched) {
    @if (errors) {
    <div class="invalid-feedback d-block">
        <p>{{ getError(errors) | async }}</p>
    </div>
    }
     <!-- @else {
    <div class="valid-feedback d-block">
        Looks good!
    </div>
    } -->
    }
</div>
